body{
    background-color: royalblue;


}


.container{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    
}

.item{
    margin: 3px;

}
button{
    background-color: royalblue;
    border: 1px solid royalblue;
    
}